{% load static %}

<!--Main Banner-->
<div class="page-section" style="background: url({% static 'assets/extra-images/full-section-img.jpg' %})no-repeat; background-size:cover; padding:206px 0 80px; text-shadow: 3px 4px 6px rgba(0,0,0,.37);margin-top:-30px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="image-frame defualt" style="padding-top:40px;">
                    <div class="cs-media">
                        <figure> <img src="{% static 'assets/extra-images/image-frame-1.png' %}" alt=""/> </figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="cs-column-text"> <span class="cs-bgcolor" style="color:#fff; padding:5px 20px; text-shadow: 3px 4px 6px rgba(0,0,0,.37); margin-bottom:20px;">More refined interior</span>
                    <h1 style="color:#fff !important; font-size:50px !important; line-height:53px !important; text-shadow: 3px 4px 6px rgba(0,0,0,.37);">SAY HELLO
                        TO NEW KIND 
                        OF yum DRIVING 
                        PLEASURE.</h1>
                    <a href="#" class="cs-button" style="color:#fff;width:80px; height:80px; border-radius:50%; line-height:17px; text-align:center; padding-top:20px; letter-spacing:1px; font-weight:bold; vertical-align:middle; text-shadow: 3px 4px 6px rgba(0,0,0,.37); ">Starts From</a> <strong style=" vertical-align:middle; font-size:50px; color:#fff; text-shadow: 3px 4px 6px rgba(0,0,0,.37);"><em style="font-style:normal; font-size:30px; vertical-align:top; line-height:0;">$</em>55,897</strong> </div>
            </div>
        </div>
    </div>
</div>
<!--Main Banner--> 
