{% load static %}

<div class="page-section" style="margin-bottom:30px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="cs-services">
                    <div class="cs-media"> <i class="icon-fuel1 cs-color" style="font-size:70px;"> </i> </div>
                    <div class="cs-text">
                        <h6>OIL CHANGES </h6>
                        <p>Vivamus erat diam, condimentum in aliquet sed, bibendum at quam. Phasellus lacus mauris.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="cs-services">
                    <div class="cs-media"> <i class="icon-car230 cs-color" style="font-size:40px"> </i> </div>
                    <div class="cs-text">
                        <h6>AIR CONDITIONING</h6>
                        <p>Nulla a gravida purus. Fusce at interdum libero, at. Vivamus erat diam, condimentum in bibendum                                            at quam.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="cs-services">
                    <div class="cs-media"> <i class="icon-energy42 cs-color" style="font-size:40px"> </i> </div>
                    <div class="cs-text">
                        <h6>AUTO ELECTRIC </h6>
                        <p>Etiam et maximus nisi, nec scelerisque neque. Nunc euismod iaculis urna, id eleifend lorem                                             aliquet at. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-section" style="margin-bottom:40px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="cs-column-text">
                    <h2 style="font-size:26px !important;">WELCOME TO THE AutoMotive</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur corporis lab. Architecto, maiores, similique, eos, ea doloribus nihil accusantium fuga numquam corporis nostrum eligendi nemo sapiente quibusdam consequuntur tempore. Suscipit.</p>
                    <ul class="cs-icon-list">
                        <li><i class="icon-check2 cs-color"></i>Volutpat luctus lacus hendrerit taciti lobortis in.</li>
                        <li><i class="icon-check2 cs-color"></i>Faucibus amet consectetur erat donec venenatis leo.</li>
                        <li><i class="icon-check2 cs-color"></i>Ullamcorper conubia, aenean quisque mattis malesuada.</li>
                        <li><i class="icon-check2 cs-color"></i>quam quisque ligula, maecenas ligula proin ut augue.</li>
                    </ul>
                    <a href="#" class="btn-contact cs-color csborder-color">Contact us</a> </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="cs-video-frame">
                    <iframe width="560" height="340" src="https://www.youtube.com/embed/21CY9RtMQkU" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
