{% load static %}

<div class="page-section" style=" background:url({% static 'assets/extra-images/bg-counter.jpg' %}) no-repeat 0 0 / cover; margin-bottom:50px; margin-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="cs-counter">
                    <div class="cs-media">
                        <figure> <i class="icon-truck2 cs-color"> </i> </figure>
                    </div>
                    <div class="cs-text" style="color:#fff;"> <strong class="counter">3,863</strong> <span>Car Sold</span> </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="cs-counter">
                    <div class="cs-media">
                        <figure> <i class="icon-car36  cs-color"> </i> </figure>
                    </div>
                    <div class="cs-text" style="color:#fff;"> <strong class="counter">89,897</strong> <span>Car Sold</span> </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="cs-counter">
                    <div class="cs-media">
                        <figure> <i class="icon-settings  cs-color"> </i> </figure>
                    </div>
                    <div class="cs-text" style="color:#fff;"> <strong class="counter">741</strong> <span>Registerd Agents</span> </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="cs-counter">
                    <div class="cs-media">
                        <figure> <i class="icon-directions_car cs-color"> </i> </figure>
                    </div>
                    <div class="cs-text" style="color:#fff;"> <strong class="counter">3289</strong> <span>Certified Agents</span> </div>
                </div>
            </div>
        </div>
    </div>
</div>

