{% load static %}

<div class="page-section" style="margin-bottom:70px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title" style="text-align:center; color:#333333; margin-bottom:45px;">
                    <h2 style="margin-bottom:5px;">MEDIA GALLERY</h2>
                    <p>It will help us find the Toyota you're looking for in your area.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="cs-gallery">
                    <div class="cs-media">
                        <figure><a href="{% static 'assets/extra-images/gallery-img-1.jpg' %}" class="thumbnail"><img src="{% static 'assets/extra-images/gallery-img-1.jpg' %}" alt="" /></a>
                            <figcaption><i class="icon-search2"></i><span>People will get clean water</span></figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="cs-gallery">
                    <div class="cs-media">
                        <figure><a href="{% static 'assets/extra-images/gallery-img-2.jpg' %}" class="thumbnail"><img src="{% static 'assets/extra-images/gallery-img-2.jpg' %}" alt="" /></a>
                            <figcaption><i class="icon-search2"></i><span>People will get clean water</span></figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="cs-gallery">
                    <div class="cs-media">
                        <figure><a href="{% static 'assets/extra-images/gallery-img-3.jpg' %}" class="thumbnail"><img src="{% static 'assets/extra-images/gallery-img-3.jpg' %}" alt="" /></a>
                            <figcaption><i class="icon-search2"></i><span>People will get clean water</span></figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="cs-gallery">
                    <div class="cs-media">
                        <figure><a href="{% static 'assets/extra-images/gallery-img-4.jpg' %}" class="thumbnail"><img src="{% static 'assets/extra-images/gallery-img-4.jpg' %}" alt="" /></a>
                            <figcaption><i class="icon-search2"></i><span>People will get clean water</span></figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="cs-gallery">
                    <div class="cs-media">
                        <figure><a href="{% static 'assets/extra-images/gallery-img-5.jpg' %}" class="thumbnail"><img src="{% static 'assets/extra-images/gallery-img-5.jpg' %}" alt="" /></a>
                            <figcaption><i class="icon-search2"></i><span>People will get clean water</span></figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="cs-gallery">
                    <div class="cs-media">
                        <figure><a href="{% static 'assets/extra-images/gallery-img-6.jpg' %}" class="thumbnail"><img src="{% static 'assets/extra-images/gallery-img-6.jpg' %}" alt="" /></a>
                            <figcaption><i class="icon-search2"></i><span>People will get clean water</span></figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="cs-gallery">
                    <div class="cs-media">
                        <figure><a href="{% static 'assets/extra-images/gallery-img-7.jpg' %}" class="thumbnail"><img src="{% static 'assets/extra-images/gallery-img-7.jpg' %}" alt="" /></a>
                            <figcaption><i class="icon-search2"></i><span>People will get clean water</span></figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="cs-gallery">
                    <div class="cs-media">
                        <figure><a href="{% static 'assets/extra-images/gallery-img-8.jpg' %}" class="thumbnail"><img src="{% static 'assets/extra-images/gallery-img-8.jpg' %}" alt="" /></a>
                            <figcaption><i class="icon-search2"></i><span>People will get clean water</span></figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-section" style="margin-bottom:0; background:#edf0f5; padding:35px 0 ;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="cs-partners-slider">
                    <li><a href="#"><img src="{% static 'assets/extra-images/partner-img-1.jpg' %}" alt="" /></a></li>
                    <li><a href="#"><img src="{% static 'assets/extra-images/partner-img-2.jpg' %}" alt="" /></a></li>
                    <li><a href="#"><img src="{% static 'assets/extra-images/partner-img-3.jpg' %}" alt="" /></a></li>
                    <li><a href="#"><img src="{% static 'assets/extra-images/partner-img-4.jpg' %}" alt="" /></a></li>
                    <li><a href="#"><img src="{% static 'assets/extra-images/partner-img-5.jpg' %}" alt="" /></a></li>
                    <li><a href="#"><img src="{% static 'assets/extra-images/partner-img-6.jpg' %}" alt="" /></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
