{% load static %}


<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <ul class="cs-testimonial-slider">
        <li>
            <div class="cs-media">
                <figure> <img src="{% static 'assets/extra-images/testimonial-slider-img-1.jpg' %}" alt="" /> </figure>
            </div>
            <div class="cs-text">
                <p> Litora torquent per conubia nostra Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
                <h6>James Warson<span>Chief Executive Officer </span></h6>
            </div>
        </li>
        <li>
            <div class="cs-media">
                <figure> <img src="{% static 'assets/extra-images/testimonial-slider-img-1.jpg' %}" alt="" /> </figure>
            </div>
            <div class="cs-text">
                <p> Litora torquent per conubia nostra Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
                <h6>James Warson<span>Chief Executive Officer </span></h6>
            </div>
        </li>
        <li>
            <div class="cs-media">
                <figure> <img src="{% static 'assets/extra-images/testimonial-slider-img-1.jpg' %}" alt="" /> </figure>
            </div>
            <div class="cs-text">
                <p> Litora torquent per conubia nostra Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
                <h6>James Warson<span>Chief Executive Officer </span></h6>
            </div>
        </li>
        <li>
            <div class="cs-media">
                <figure> <img src="{% static 'assets/extra-images/testimonial-slider-img-1.jpg' %}" alt="" /> </figure>
            </div>
            <div class="cs-text">
                <p> Litora torquent per conubia nostra Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
                <h6>James Warson<span>Chief Executive Officer </span></h6>
            </div>
        </li>
        <li>
            <div class="cs-media">
                <figure> <img src="{% static 'assets/extra-images/testimonial-slider-img-1.jpg' %}" alt="" /> </figure>
            </div>
            <div class="cs-text">
                <p> Litora torquent per conubia nostra Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
                <h6>James Warson<span>Chief Executive Officer </span></h6>
            </div>
        </li>
    </ul>
</div>