{% load static %}

<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/bootstrap-theme.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/iconmoon.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/chosen.css' %}" rel="stylesheet">
<link href="{% static 'style.css' %}" rel="stylesheet">
<link href="{% static 'cs-automobile-plugin.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/color.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/widget.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet">
<!-- <link href="{% static 'assets/css/bootstrap-rtl.css' %}" rel="stylesheet"> Uncomment it if needed! -->