{% load static %}

<!--tabs section-->
<div class="page-section" style="padding-top:70px; padding-bottom:65px;">
	<div class="container">
		<div class="row">
			<div class="section-fullwidtht col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="row">
					<div class="col-lg-12 col-md-12 co-sm-12 col-xs-12"><!--Element Section Start-->
						<div class="cs-section-title">
							<h3 style="text-transform:uppercase !important;">Perfect Cars for you</h3>
							<p style="text-transform:uppercase;font-size:11px;color:#999999 !important;">It will help us find the Toyota you're looking for in your area.</p>
						</div>
						<!--Tabs Start-->
						
						<div class="cs-tabs full-width">

							<ul class="nav nav-tabs">
								<li class="active"><a data-toggle="tab" href="#home">New Cars</a></li>
								<li><a data-toggle="tab" href="#menu1">Used Cars</a></li>
							</ul>

							<div class="tab-content">
								<div id="home" class="tab-pane fade in active">
									<div class="row">
										{% for car in new_cars %}
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="auto-listing auto-grid">
												<div class="cs-media">
													<figure> <img src="{{ car.image_main.url }}" alt="#"/>
													</figure>
												</div>
												<div class="auto-text"> <span class="cs-categories"><a href="#">{{ car.category }}</a></span>
													<div class="post-title">
														<h6><a href="{{car.get_absolute_url}}">{{car.brand}}</a></h6>
														<div class="auto-price"><span class="cs-color">Price: ${{ car.price }}</span></div>
													</div>

													<!-- <div class="btn-list"> <a href="javascript:void(0)" class="btn btn-danger collapsed" data-toggle="collapse" data-target="#list-view"></a> 
														<div id="list-view" class="collapse">
															<ul>
																<li>Mileage: {{car.miles}}</li>
																<li>Transmission: {{car.transmission}}</li>
																<li>Brand Year: {{car.year}}</li>
																<li>Break Horsepower: {{car.power}} hp</li>
																<li>Fuel Tank: {{car.fuel_tank}} Litres</li>
															</ul>
														</div>
													</div>-->
													<div class="cs-checkbox">
														<div class="cs-media"> <i class="icon-car228 cs-color" style="font-size:15px"> {{car.transmission}} </i> 
															&nbsp;&nbsp;&nbsp;&nbsp;<i>Year: {{car.year}}</i>
														</div>
													</div>
													<br>
													<a href="{{car.get_absolute_url}}" class="View-btn">View Detail<i class=" icon-arrow-long-right"></i></a> </div>
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
								<div id="menu1" class="tab-pane fade">
									<div class="row">
										{% for car in used_cars %}
										<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
											<div class="auto-listing auto-grid">
												<div class="cs-media">
													<figure> <img src="{{ car.image_main.url }}" alt="#"/></figure>
												</div>
												<div class="auto-text"> <span class="cs-categories"><a href="#">{{ car.category }}</a></span>
													<div class="post-title">
														<h6><a href="{{car.get_absolute_url}}">-{{ car.brand}}</a></h6>
														<div class="auto-price"><span class="cs-color">Price: ${{ car.price }}</span></div>
													</div>

													<!-- <div class="btn-list"> <a href="javascript:void(0)" class="btn btn-danger collapsed" data-toggle="collapse" data-target="#list-view"></a> 
														<div id="list-view" class="collapse">
															<ul>
																<li>Mileage: {{car.miles}}</li>
																<li>Transmission: {{car.transmission}}</li>
																<li>Brand Year: {{car.year}}</li>
																<li>Break Horsepower: {{car.power}} hp</li>
																<li>Fuel Tank: {{car.fuel_tank}} Litres</li>
															</ul>
														</div>
													</div>-->
													<div class="cs-checkbox">
														<div class="cs-media"> <i class="icon-car228 cs-color" style="font-size:15px"> {{car.transmission}} </i> 
															&nbsp; &nbsp; &nbsp; &nbsp; <i>Year: {{car.year}}</i>
														</div>
													</div>
													<br>
													<a href="{{car.get_absolute_url}}" class="View-btn">View Detail<i class=" icon-arrow-long-right"></i></a> </div>
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
						<!--Tabs End--> 
						<!--Element Section End--></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--tabs section--> 

